<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EjercicioFrameworkEntities" connectionString="metadata=res://*/ModelUsuarioWebLogin.csdl|res://*/ModelUsuarioWebLogin.ssdl|res://*/ModelUsuarioWebLogin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAKASHISITO\SQLEXPRESS2;initial catalog=EjercicioFramework;user id=sa;password=Dragon905292886423;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataLayer.Properties.Settings.EjercicioFrameworkConnectionString"
      connectionString="Data Source=KAKASHISITO\SQLEXPRESS2;Initial Catalog=EjercicioFramework;User ID=sa;Password=Dragon905292886423;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>